.card{
  /* margin-top: 80px; */
  width: 300px;
  max-width: 90%;
  height: 450px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

}

.card .images{
  width: 100%;
  height: 60%;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  border-radius: 6px;

}

.images img{

  width: 100%;
  height: 100%;
  flex-shrink: 0;

}

.cardspan1{
  font-size: 20x;
  font-weight: 300;
  color: black;
}
.cardspan2{
  font-size: 17x;
  font-weight: 300;
  color: rgb(77, 74, 74);
}